{% extends "base.html" %}
  {% block head %}
  {% endblock %}

  {% block body %}
    <div>
        <h1>Task {{task_order_number}}</h1>

        <p>task {{task_session.task.task_id}}: {{task_session.task.description}}</p>

        <span>start time: {{task_session.start_time}}</span><br>

        <ul>
            {% for action in action_history %}
                <li>action {{forloop.counter}}: <span style="color:red">{{action.action}}</span> {{action_time}}</li><br>
            {% endfor %}
        </ul>

        <span>end time: {{task_session.end_time}}</span><br>
    </div>
  {% endblock %}

  {% block other-scripts %}
  {% endblock %}