{% extends "base.html" %}
  {% block head %}
  {% endblock %}

  {% block body %}
    <div>
        <h2>List of Studied Participants</h2>
        <ul>
        {% for user in user_list %}
            <span class="report_link"><a>{{user.first_name}} {{user.last_name}}</a></span>
            <br>
        {% endfor %}
        </ul>
    </div>
  {% endblock %}

  {% block other-scripts %}
    <script>
        $('.report_link').click(function () {
            var names = $(this).text().split(' ');
            var first_name = names[0];
            var last_name = names[1];
            window.location.replace('study_session_report?first_name=' + first_name + '&last_name=' + last_name);
        })
    </script>
  {% endblock %}
