{% extends "base.html" %}
  {% block head %}
  {% endblock %}

  {% block body %}
    <div>
        <h2>List of Studied Participants</h2>
        {% for user_list in user_groups %}
            <h3>Group {{forloop.counter}}</h3>
            <ul>
            {% for user, treatment_effect in user_list %}
                {% if user.num_sessions_completed == 0 %}
                    <li class="report_link"><a>{{user.first_name}} {{user.last_name}}</a> (scheduled)</li>
                {% endif %}
                {% if user.num_sessions_completed == -1 %}
                    <li class="report_link"><a>{{user.first_name}} {{user.last_name}}</a> (invalid)</li>
                {% else %}
                    {% ifstartswith treatment_effect '-' %}
                        <li class="report_link"><a>{{user.first_name}} {{user.last_name}}</a> <span style="color:green">({{treatment_effect}})</span></li>
                    {% endifstartswtih %}
                    {% ifstartswith treatment_effect '-' %}
                        <li class="report_link"><a>{{user.first_name}} {{user.last_name}}</a> <span style="color:red">({{treatment_effect}})</span></li>
                    {% endifstartswith %}
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
  {% endblock %}

  {% block other-scripts %}
    <script>
        $('.report_link').click(function () {
            var names = $(this).text().split(' ');
            var first_name = names[0];
            var last_name = names[1];
            window.location.replace('study_session_report?first_name=' + first_name + '&last_name=' + last_name);
        })
    </script>
  {% endblock %}
