{% extends "base.html" %}
  {% block head %}
  {% endblock %}

  {% block body %}
    <div>
        <h1>{{first_name}} {{last_name}}</h1>
        <h2>Part I</h2>
        <ul>
            {% for task_session in part_i_task_sessions %}
            <li><span class="action_history_link">task {{forloop.counter}}</span>: <span style="color:red">{{task_session.status}}</span> {{task_session.time_spent.seconds}}s</li>
            {% endfor %}
        </ul>
        Average time spent per task: {{part_i_average_time_spent}}s
        <h2>Part II</h2>
        <ul>
            {% for task_session in part_ii_task_sessions %}
            <li><span class="action_history_link">task {{forloop.counter}}</span>: <span style="color:red">{{task_session.status}}</span> {{task_session.time_spent.seconds}}s</li>
            {% endfor %}
        </ul>
        Average time spent per task: {{part_ii_average_time_spent}}s
    </div>
  {% endblock %}

  {% block other-scripts %}
    <script>
        $(document).on('click', '.report_link', function () {
            var names = this.text.split();
            var first_name = names[0];
            var last_name = names[1];
            $.get(`/study_session_report`, {'first_name': first_name, 'last_name': last_name});
        })
    </script>
  {% endblock %}