<!--
The full task interface is implemented in this file. All interaction with the
task interface server is done through HTTP AJAX calls.
-->

{% extends "base.html" %}
   {% block head %}
      <link rel="stylesheet" href="/static/lib/xterm.js/xterm.css" />
      <link href="/static/lib/codecademy.themes/core.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/lib/codecademy.themes/exercise.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/lib/codecademy.themes/vendor.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/lib/codecademy.themes/platform.css" media="screen" rel="stylesheet" type="text/css" />

      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />

      <link href="/static/lib/intro.js/introjs.css" rel="stylesheet" media="screen" />
      <link href="/static/lib/hopscotch/hopscotch.min.css" rel="stylesheet" media="screen" />
      <link href="/static/css/task.css" rel="stylesheet" media="screen" />
   {% endblock %}

   {% block body %}
      <section class="_255U1OEW5iAFH7qz_pHXM8">
         <div id="workspace" class="francine">
            <header class="_2m_hDXMtwvETHFo3eGaTXE" id="task-platform-header">
               <nav class="y7tvmmg7fKu4JpdaYECtN _2Tp4ILE5wDYNdLO-nT8psj">
                  <section class="_2zSA2d9oAw82vmGaiCI6HM vE2U5Z1_1p0OevhTkRrpb" id="img-overlay-hanger">
                     {% if task_part %}
                     Bash User Study - {{task_part}}
                     {% endif %}
                  </section>
                  <section class="_2zSA2d9oAw82vmGaiCI6HM AcoUR5q2eKWoCC4M_4RZD"> </section>
                  <section class="_2zSA2d9oAw82vmGaiCI6HM _1KKDVD6unnpNtKqV9PPUQP _2kwp78w4gxSQjvTSajoa6Q" data-reactid="14">
                     <div class="_3bI54mnYg5essxyEwnBsko _3nDVtg6dS-0_R6p0nDL-1S" data-reactid="15">
                        <div class="_3KAEuux4zG-obsW0jpG9gw" data-reactid="16"><span data-reactid="17"></span></div>
                     </div>
                     <div class="_3bI54mnYg5essxyEwnBsko _1f1KmfrKUtLxZllTyx0TrC _3nDVtg6dS-0_R6p0nDL-1S _2kwp78w4gxSQjvTSajoa6Q" data-reactid="18">
                        <div class="fcn-godex-status-container" data-reactid="19">
                           <div class="fcn-godex-status--hidden fcn-godex-status" data-reactid="20">
                              <div class="fcn-godex-status__glow" data-reactid="22"></div>
                           </div>
                        </div>
                     </div>

                     <div class="_3bI54mnYg5essxyEwnBsko _1f1KmfrKUtLxZllTyx0TrC _3nDVtg6dS-0_R6p0nDL-1S" data-reactid="30">
                        <div class="_3wrXGt5j2uE4fjlPLrDXEA" data-reactid="31">
                           <div class="Y8dknuoW8NLiudcM-zQib _1pl0auxsnexFW5uqwCQW_x _2tbl3cOSPjsfIWBMlHZgcG" data-reactid="33">
                              <img class="wXEAS7H2e7UsikVkXNety" src="http://www.gravatar.com/avatar/?d=mm" data-reactid="34"/>
                           </div>
                        </div>
                     </div>
                     {% if first_name and last_name %}
                     <span>{{first_name}}&nbsp;{{last_name}}&nbsp;</span>
                     {% endif %}
                  </section>
               </nav>
            </header>

            <div class="fcn-grid" style="cursor:auto;">
               <!-- Task info -->
               <div class="fcn-slot fcn-slot--no-top-neighbor fcn-slot--no-bottom-neighbor fcn-slot--no-left-neighbor"
               style="position:absolute;top:0%;right:36%;bottom:80%;left:0%;">
                  <div class="fcn-component">
                     <div class="accordion-container">
                        <div class="accordion">
                           <div class="accordion-section">
                              <!-- <div class="accordion-section-heading" data-reactid="73">
                                 {% if task_order_number %}
                                 <div class="_1XRkeRcO7hh1axYhmKiQMM _39K0C3ph1hpmLw6tsBfNnG">
                                    Task Description
                                 </div>
                                 {% endif %}
                              </div> -->
                              <div class="accordion-section-body">
                                 <div class="jfdpfOzslotw2euWgxJNN _1PzvoBkjTI2SFvb5o9YAHW" id="task-description">
                                    {% if task_description %}
                                       <p>{{task_description}}</p>
                                    {% endif %}
                                    <!-- {% if task_examples %}
                                       <pre><code>
                                          <span wrap="true" class="_18cGopAuUQVCOplu8pL9b5 _12mn8XNbByNCYxyzndA6if _3xp4c3Gvny8Oap6jE2-Q_ _2RE0-ZG6UYzWFn9_EER397 undefined" data-reactroot="" data-reactid="1" data-react-checksum="802587360">
                                             <div class="CodeMirror" data-reactid="2">
                                                {{task_examples}}
                                             </div>
                                          </span>
                                       </code></pre>
                                    {% endif %} -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- xterms.js -->
               <div class="fcn-slot fcn-slot--no-top-neighbor fcn-slot--no-bottom-neighbor fcn-slot--no-left-neighbor"
               style="position:absolute;top:20%;right:36%;bottom:0%;left:0%;">
                  <div class="fcn-component">
                     <div class="accordion-section-heading terminal-header">
                        <div class="_1XRkeRcO7hh1axYhmKiQMM _39K0C3ph1hpmLw6tsBfNnG">
                           Bash Terminal
                        </div>
                     </div>
                     <div class="accordion-section-body terminal-container" id="bash-terminal">
                     </div>
                  </div>
               </div>

               <!-- Direcotry Visualization -->
               <div class="fcn-slot fcn-slot--no-top-neighbor fcn-slot--no-bottom-neighbor fcn-slot--no-right-neighbor"
                    style="position:absolute;top:0%;right:0%;bottom:0%;left:64%;">
                  <!-- Current Directory -->
                  <div class="fcn-slot fcn-slot--no-top-neighbor fcn-slot--no-bottom-neighbor fcn-slot--no-left-neighbor fcn-slot--no-right-neighbor vis-container"
                       style="position:absolute;top:0%;right:0%;bottom:50%;left:0%;" id="current-tree-vis-container">
                     <div class="accordion-container fcn-component" style="height=100%">
                        <div class="accordion">
                           <div class="accordion-section-heading" style="height:32px">
                              File system status
                           </div>
                           <div class="accordion-section-body tree-vis-panel" id="current-tree-vis"
                                style="position: absolute; top: 32px; width:100%; bottom: 0">
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Progress -->
                  <div class="fcn-slot fcn-slot--no-bottom-neighbor fcn-slot--no-left-neighbor fcn-slot--no-right-neighbor vis-container"
                       style="position:absolute;top:50%;right:0%;bottom:0%;left:0%;" id="task-progress-vis-container">
                     <div class="accordion-container fcn-component" style="height=100%">
                        <div class="accordion">
                           <div class="accordion-section-heading" style="height:32px">
                              Task Progress
                           </div>
                           <div class="accordion-section-body tree-vis-panel" id="task-progress-vis"
                                style="position: absolute; top: 32px; width:100%; bottom: 0">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <nav class="y7tvmmg7fKu4JpdaYECtN uLjMYUmq7NHQCvtXjbgKs _3bR5y3xpD2FPv1oUg-7n_p" data-reactid="111">
               <section class="_2zSA2d9oAw82vmGaiCI6HM vE2U5Z1_1p0OevhTkRrpb" data-reactid="112">
                  <button class="fcn-button fcn-button--warning" id="quit-button">
                     <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Give Up On Current Task
                  </button>
               </section>
               <section class="_2zSA2d9oAw82vmGaiCI6HM AcoUR5q2eKWoCC4M_4RZD" data-reactid="117">
                  <div class="fcn-nav-wrapper" data-reactid="118">
                     <div class="fcn-nav-wrapper__center fcn-progress-container" data-reactid="119">
                        {% if task_order_number and total_num_tasks %}
                        <div class="fnc-nav__exercise-count" data-reactid="121">
                           Task {{task_order_number}} / {{total_num_tasks}}.
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </section>
               <section class="_2zSA2d9oAw82vmGaiCI6HM _1KKDVD6unnpNtKqV9PPUQP" data-reactid="123">
                  <button class="fcn-button fcn-button--lantern" id="reset-button">
                     <!-- react-text: 125 -->Reset File System<!-- /react-text --><!-- react-empty: 126 -->
                  </button>
               </section>
               <!-- react-empty: 127 -->
            </nav>
         </div>
      </section>

      <div id="wait-dialog" class="hidden" style="text-align: center">
           <img  src="css/images/loading_black.gif" />
           <div style="margin-top: 10px; color: white">
               <b>Please wait while we are setting up the next task...</b>
           </div>
      </div>
   {% endblock %}

   {% block other-scripts %}
      <script src="/static/lib/xterm.js/xterm.js"></script>
      <script src="/static/lib/xterm.js/addons/attach/attach.js"></script>
      <script src="/static/lib/xterm.js/addons/fit/fit.js"></script>

      <script src="/static/js/ww.jquery.min.js"></script>

      <script src="https://d3js.org/d3.v3.min.js"></script>
      <script src="/static/lib/fs_tree_vis/treelist.js"></script>
      <script src="/static/lib/fs_tree_vis/fs_tree_vis.js"></script>

      <script src="/static/lib/intro.js/intro.js"></script>
      <script src="/static/lib/hopscotch/hopscotch.min.js"></script>
      <script src="/static/js/task.js"></script>
   {% endblock %}
