.instruction-panel {
    position: absolute;
    height: 96%;
    width: 100%;
    background: #f6f6f6;
    overflow-y: hidden;
}

.instruction-heading {
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.instruction-body {
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.instruction-ack {
    padding-left: 30px;
    margin-bottom: 30px;
}