/*
.accordion-container cur_dir_vis{
  height: 50%;
}

.accordion-container goal_dir_vis{
  height: 50%;
}*/

body {
	cursor: default;
}

nav {
	margin-left: 3px;
	margin-right: 3px;
}

.tree-vis-panel .fileattributes {
    color: #000000;
    font-size: 14px;
}

.tree-vis-panel .selected{
	text-decoration: underline;
}

.tree-vis-panel .correct_select{
    border: 1px solid black ;
}

.tree-vis-panel .extra_select{
    border: 1px solid red ;
}

.tree-vis-panel .miss_select{
    border: 1px solid orange ;
}

.tree-vis-panel .node {
	position: absolute;
	list-style: none;
	cursor: default;
}
.tree-vis-panel .node span {
	margin-right: 3px;
}

.tree-vis-panel ul li:before {
	content: none;
}

.tree-vis-panel {
	padding-left: 0px;
	background: #ffffff;
}

.terminal-header {
    color: #ffffff;
	background: #40454f;
	border: 0px;
}

.terminal-container {
    height: 100%;
}