/*
.accordion-container cur_dir_vis{
  height: 50%;
}

.accordion-container goal_dir_vis{
  height: 50%;
}*/

body {
	cursor: default;
}

nav {
	margin-left: 3px;
	margin-right: 3px;
}

.tree-vis-panel .selected{
	text-decoration: underline;
}

.tree-vis-panel .correct_select{
    border: 1px solid black ;
}

.tree-vis-panel .extra_select{
    border: 1px solid red ;
}

.tree-vis-panel .miss_select{
    border: 1px solid rgba(0, 0, 0, .3);
}

.tree-vis-panel .node {
	position: absolute;
	list-style: none;
	cursor: default;
}
.tree-vis-panel .node span {
	margin-right: 3px;
}

.tree-vis-panel ul li:before {
	content: none;
}

.tree-vis-panel {
	padding-top: 10px;
	padding-left: 0px;
}

.terminal-header {
	background: #40454f;
	font-weight: light;
}

.terminal-container {
	height: 95%;
}